*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

#section1{
    background-image: url(./images/bg-pattern-quotation.svg);
    background-position: 80% -0.2%;
    background-repeat: no-repeat;
    background-size: 22%;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}  



/* MOBILE VIEW */
@media (max-width:960px){
   main{
      padding:0;
   }
   
    #grid-container{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
   }
}